<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kes.mapper.KnowledgeBaseMapper">

    <select id="selectByUuid" resultType="com.kes.entity.KnowledgeBase">
        SELECT * FROM kes_knowledge_base WHERE uuid = #{uuid}
    </select>

    <update id="updateStatByUuid">
        UPDATE kes_knowledge_base
        SET embedding_count = #{embeddingCount},
            updated_time = NOW()
        WHERE uuid = #{uuid}
    </update>

</mapper>
